.ul {
    width: 400px;
}

.planneranim {
    opacity: 0;
    top: 100%;
    animation: planneranim 0.3s ease-in-out forwards;
}

@keyframes planneranim {
    50% {
        top: -30px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}